[include mainsail.cfg]
#[include adxl.cfg]
# This file contains common pin mappings for Duet2 Eth/Wifi boards
# that have the Duex expansion board. To use this config, the firmware
# should be compiled for the SAM4E8E.

# See docs/Config_Reference.md for a description of parameters.

########################################
# Backup to Github
########################################

[gcode_shell_command backup_to_github]
command: sh /home/treid/E3Pro_data/E3Pro_backup.sh
timeout: 30.
verbose: True

[gcode_macro GITHUB_BACKUP]
gcode:
    RUN_SHELL_COMMAND CMD=backup_to_github

[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/E3Pro_data/klipper-backup/script.sh"
timeout: 90.0
verbose: True
## Drivers
# Here are the pins for the 10 stepper drivers supported by a Duet2 board
# | Drive |  DIR pin |  STEP pin |  ENDSTOP pin |  SPI EN pin |
# |-------|----------|-----------|--------------|-------------|
# | X     |  PD11    |  PD6      |  PC14        |  PD14       |
# | Y     |  PD12    |  PD7      |  PA2         |  PC9        |
# | Z     |  PD13    |  PD8      |  PD29        |  PC10       |
# | E0    |  PA1     |  PD5      |  PD10        |  PC17       |
# | E1    |  PD9     |  PD4      |  PC16        |  PC25       |
# | E2    |  PD28    |  PD2      |  PE0*        |  PD23       |
# | E3    |  PD22    |  PD1      |  PE1*        |  PD24       |
# | E4    |  PD16    |  PD0      |  PE2*        |  PD25       |
# | E5    |  PD17    |  PD3      |  PE3*        |  PD26       |
# | E6    |  PC0     |  PD27     |  PA17*       |  PB14       |
# Pins marked with asterisks (*) are only assigned to these functions
# if no duex is connected. If a duex is connected, these endstops are
# remapped to the SX1509 on the Duex (unfortunately they can't be used
# as endstops in klipper, however one may use them as digital outs or
# PWM outs). The SPI EN pins are required for the TMC2660 drivers (use
# the SPI EN pin as 'cs_pin' in the respective config block). The
# **enable pin for all steppers** is TMC_EN = !PC6.
#
## Fans
# | FAN  |          PIN          |
# |------|-----------------------|
# | FAN0 |  PC23                 |
# | FAN1 |  PC26                 |
# | FAN2 |  PA0                  |
# | FAN3 |  sx1509_duex:PIN_12*  |
# | FAN4 |  sx1509_duex:PIN_7*   |
# | FAN5 |  sx1509_duex:PIN_6*   |
# | FAN6 |  sx1509_duex:PIN_5*   |
# | FAN7 |  sx1509_duex:PIN_4*   |
# | FAN8 |  sx1509_duex:PIN_15*  |
# Pins marked with (*) assume the following sx1509 config section:
#[sx1509 duex]
#i2c_address: 62
#
## Heaters and Thermistors
# | Extruder Drive |  HEAT pin |  TEMP pin |
# |----------------|-----------|-----------|
# | BED            |  PA19     |  PC13     |
# | E0             |  PA20     |  PC15     |
# | E1             |  PA16     |  PC12     |
# | E2             |  PC3      |  PC29     |
# | E3             |  PC5      |  PC30     |
# | E4             |  PC8      |  PC31     |
# | E5             |  PC11     |  PC27     |
# | E6             |  PA15     |  PA18     |
#
## Misc pins
# |    Name     |   Pin   |
# |-------------|---------|
# | ZProbe_IN   |  PC1    |
# | PS_ON       |  PD15   |
# | LED_ONBOARD |  PC2    |
# | SPI0_CS0    |  PC24   |
# | SPI0_CS1    |  PB2    |
# | SPI0_CS2    |  PC18   |
# | SPI0_CS3    |  PC19   |
# | SPI0_CS4    |  PC20   |
# | SPI0_CS5    |  PA24   |
# | SPI0_CS6    |  PE1*   |
# | SPI0_CS7    |  PE2*   |
# | SPI0_CS8    |  PE3*   |
# | SX1509_IRQ  |  PA17*  |
# | SG_TST      |  PE0*   |
# | ENC_SW      |  PA7    |
# | ENC_A       |  PA8    |
# | ENC_B       |  PC7    |
# | LCD_DB7     |  PD18   |
# | LCD_DB6     |  PD19   |
# | LCD_DB5     |  PD20   |
# | LCD_DB4     |  PD21   |
# | LCD_RS      |  PC28   |
# | LCD_E       |  PA25   |
# Pins marked with one asterisk (*) replace E2_STOP-E6_STOP if a duex is present
# For the remaining pins check the schematics provided here: https://github.com/T3P3/Duet
# https://duet3d.dozuki.com/Wiki/Duet_2_Pinout_table

####################################################################
############################ Modules################################
####################################################################

[include macros.cfg]
#[include Adaptive_Mesh.cfg]
#[include Line_Purge.cfg]
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1


####################################################################
############################ XY Axis ###############################
####################################################################

#__________________________ ON DRIVE X ____________________________
[stepper_x]
step_pin: PD6
dir_pin: !PD11
enable_pin: !PC6
microsteps: 16
rotation_distance: 40
#full_steps_per_rotation: 200
endstop_pin: ^PC14
position_endstop: 0
position_max: 225
homing_speed: 50.0
homing_retract_dist: 5.0
#second_homing_speed: 10 

[tmc2660 stepper_x]
cs_pin: PD14 				# X_SPI_EN Required for communication
spi_bus: usart1 			# All TMC2660 drivers are connected to USART1
interpolate: True 			# 1/16 micro-steps interpolated to 1/256
run_current: 0.580
sense_resistor: 0.051
idle_current_percent: 20
#stealthchop_threshold: 999999

#__________________________ ON DRIVE Y ____________________________
[stepper_y]
step_pin: PD7
dir_pin: !PD12
enable_pin: !PC6
microsteps: 16
rotation_distance: 40
#full_steps_per_rotation: 200
endstop_pin: ^PA2
position_endstop: 0
position_max: 227
homing_speed: 25.0
homing_retract_dist: 5.0
#second_homing_speed: 10 

[tmc2660 stepper_y]
cs_pin: PC9
spi_bus: usart1
interpolate: True
run_current: 0.580
sense_resistor: 0.051
idle_current_percent: 20
#stealthchop_threshold: 999999


####################################################################
############################ Z Axis ################################
####################################################################

#__________________________ ON DRIVE Z ____________________________
[stepper_z]
step_pin: PD8
dir_pin: !PD13
enable_pin: !PC6
microsteps: 16
rotation_distance: 8 				
#full_steps_per_rotation: 200
endstop_pin: PD29
#position_endstop: 0
position_max: 250
position_min: -2

[tmc2660 stepper_z]
cs_pin: PC10
spi_bus: usart1
interpolate: True
run_current: 0.580
sense_resistor: 0.051
#stealthchop_threshold: 999999


#_________________________ ON DRIVE E1 ___________________________
#[stepper_z1]
#step_pin: PD4
#dir_pin: PD9
#enable_pin: !PC6
#microsteps: 16
#rotation_distance: 8 				
#full_steps_per_rotation: 200
#endstop_pin: PD29


#[tmc2660 stepper_z1]
#cs_pin: PC25
#spi_bus: usart1
#interpolate: True
#run_current: 0.580
#sense_resistor: 0.051


#__________________________ BLTouch ______________________________
[bltouch]
sensor_pin: ^PC1		# ^ = Activate pullup resistor to avoid floating input
control_pin: PC3		# ! = Active low
pin_move_time: 0.4
#   The amount of time (in seconds) to wait for the BLTouch pin to
#   move up or down. The default is 0.680 seconds.
#stow_on_each_sample: True
#   This determines if Klipper should command the pin to move up
#   between each probe attempt when performing a multiple probe
#   sequence. Read the directions in docs/BLTouch.md before setting
#   this to False. The default is True.
#probe_with_touch_mode: False
#   If this is set to True then Klipper will probe with the device in
#   "touch_mode". The default is False (probing in "pin_down" mode).
#pin_up_reports_not_triggered: True
#   Set if the BLTouch consistently reports the probe in a "not
#   triggered" state after a successful "pin_up" command. This should
#   be True for all genuine BLTouch devices. Read the directions in
#   docs/BLTouch.md before setting this to False. The default is True.
#pin_up_touch_mode_reports_triggered: True
#   Set if the BLTouch consistently reports a "triggered" state after
#   the commands "pin_up" followed by "touch_mode". This should be
#   True for all genuine BLTouch devices. Read the directions in
#   docs/BLTouch.md before setting this to False. The default is True.
#set_output_mode: 5V
#   Request a specific sensor pin output mode on the BLTouch V3.0 (and
#   later). This setting should not be used on other types of probes.
#   Set to "5V" to request a sensor pin output of 5 Volts (only use if
#   the controller board needs 5V mode and is 5V tolerant on its input
#   signal line). Set to "OD" to request the sensor pin output use
#   open drain mode. The default is to not request an output mode.
x_offset: 38.2
y_offset: 0
#z_offset: 0.0 
#speed:
samples: 1
#sample_retract_dist:
#samples_result:
#samples_tolerance:
#samples_tolerance_retries:
#   See the "probe" section for information on these parameters.

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 39,15
mesh_max: 200, 215
horizontal_move_z: 5
probe_count: 5,5
fade_start: 1.0
mesh_pps: 2,2

#__________________ SELF LEVELLING (Z_Tilt) _______________________
#[z_tilt]
#z_positions: 
#	-35,117
#	270,117

#points:
#	0,117
#	185,117
#speed: 50
#horizontal_move_z: 10

#retries: 2
#   Number of times to retry if the probed points aren't within
#   tolerance.
#retry_tolerance: 0.025000
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

#_____________________ BED LEVELING ________________________________
[bed_screws]
screw1: 32,32
screw2: 203,203
screw3: 203,32
screw4: 32,203
screw5: 117,117

[screws_tilt_adjust]
screw1: 0,30
screw1_name: front left screw
screw2: 161.8,30
screw2_name: front right screw
screw3: 161.8,205
screw3_name: rear right screw
screw4: 0,205
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M4

#_____________________ ENDSTOP PHASE CALIBRATE ________________________________
[endstop_phase]


##################################################################
########################## EXTRUDER ##############################
##################################################################
#On drive E0
[extruder]
step_pin: PD5
dir_pin: !PA1
enable_pin: !PC6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 7.622
nozzle_diameter: 0.400                   ; 0.4 mm nozzle
#nozzle_diameter: 0.800                   ; 0.8 mm nozzle
filament_diameter: 1.750
#_______________________ HEATER NOZZLE ____________________________
heater_pin: !PA20
#_________________________NOZZLE TEMP _____________________________
sensor_type: ATC Semitec 104NT-4-R025H42G 
sensor_pin: PC15
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 300
pressure_advance = 0.07485               ; 0.4 mm nozzle
#pressure_advance = 0.03285               ; 0.8 mm nozzle
#max_extrude_only_distance: 150.0


[tmc2660 extruder]
cs_pin: PC17
spi_bus: usart1
interpolate: False
run_current: 0.650
sense_resistor: 0.051

#[multi_pin hevacs]
#pins: sx1509_duex:PIN_15, sx1509_duex:PIN_4    #Fan7&8

#[multi_pin my_fan]
#pins: PC23,PA0    #Fan 0 & 2

# Fan1
[fan]
pin: PC23


# Fan0 controlled by extruder
[heater_fan nozzle_cooling_fan]
pin: PC26
heater: extruder
heater_temp: 45
fan_speed: 1.0



[temperature_sensor mcu]
sensor_type: temperature_mcu
#sensor_pin: mcu
min_temp: 20
max_temp: 70
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.

#[controller_fan motherboard_fan]
#pin: PA0
#heater: temperature_sensor mcu
#heater_temp: 25
#fan_speed: 1.0
#max_power: 1
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout: 45
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed: 0.5
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater: mcu
#sensor_type: temperature_mcu
#sensor_mcu: mcu
#stepper:
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.



####################################################################
############################ RETRACTION#############################
####################################################################


#[firmware_retraction]
#retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0.2
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 20
#   The speed of unretraction, in mm/s. The default is 10 mm/s.



####################################################################
############################ BED ###################################
####################################################################
[heater_bed]
heater_pin: !PA19
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC13
#control: watermark
min_temp: 0
max_temp: 105




####################################################################
############################ MCU ###################################
####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_sam4e8e_00323053354141543133303531303432-if00

#[mcu host]
#serial: /tmp/klipper_host_mcu


####################################################################
############################ ACCELEROMETER #########################
####################################################################

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    118,118,150  # an example


#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[mpu9250]
#i2c_mcu: rpi
#i2c_bus: i2c.1

#[resonance_tester]
#accel_chip: mpu9250
#probe_points:
#    118,118,100  # an example


####################################################################
[virtual_sdcard]
path: /home/treid/E3Pro_data/gcodes

[display_status]




####################################################################
############################ PRINTER ###############################
####################################################################
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3500
max_accel_to_decel: 3500
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0

#[pause_resume]



####################################################################
###################### FILAMENT SENSOR #############################
####################################################################
#[filament_switch_sensor sentinel]
#pause_on_runout: true
#switch_pin: PXXX  # not mapped yet
#runout_gcode:
#	G91
#    G1 E-6 F2500
#    G1 Z 10


##############################################
################# MACROS #####################
##############################################

#
######################################################################
# Bed Leveling
######################################################################

#[gcode_macro G29]
#gcode:
#    BED_MESH_CALIBRATE

######################################################################
# BL-Touch commands
######################################################################
[gcode_macro ZUP]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=0.025 MOVE=1

[gcode_macro ZDOWN]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=-0.025 MOVE=1

[display_status]




####################################################################
###################### END of manual config ########################
####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.468
#*# pid_ki = 1.304
#*# pid_kd = 202.116
#*#
#*# [bltouch]
#*# z_offset = 1.080
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.952
#*# pid_ki = 0.982
#*# pid_kd = 1430.639
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.020123, 0.025123, 0.045123, 0.072623, 0.077623
#*# 	0.010123, -0.002377, 0.012623, 0.025123, 0.065123
#*# 	0.010123, 0.002623, 0.010123, 0.025123, 0.032623
#*# 	0.050123, 0.017623, 0.002623, -0.004877, -0.004877
#*# 	0.012623, 0.005123, 0.010123, 0.010123, 0.012623
#*# tension = 0.2
#*# min_x = 39.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 15.0
#*# x_count = 5
#*# max_y = 215.0
#*# mesh_x_pps = 2
#*# max_x = 200.0
#*#
#*# [input_shaper]
#*# shaper_type_y = zv
#*# shaper_freq_y = 36.2
#*# shaper_type_x = zv
#*# shaper_freq_x = 38.6
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 30/64
#*#
#*# [stepper_z]
#*# position_endstop = 0.780
